@use "@/styles/_mixins.scss" as *;

.home-container {
  height: auto;
  @include page-body;

  .top-container {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    // .top-box {
    //   background-color: #efefef;
    //   border-radius: 0.5em;
    //   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // }

    .calendar {
      width: 30%;
      height: 18rem;
      background-color: #efefef;
      border-radius: 0.5em;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      overflow-y: auto;
    }

    .params {
      width: 60%;
      height: 18rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
      gap: 2vw;
      flex-wrap: wrap;
      background-color: #ececec;

      .params-box {
        background-color: #efefef;
        border-radius: 0.5em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      .check-in {
        width: 47%;
        height: 8rem;
      }
    }
  }

  // .params {
  //   margin-top: 50px;
  //   width: 21%;
  //   height: 8rem;
  //   color: #efefef;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   .params-wrapper {
  //     display: flex;
  //     align-items: center;
  //     flex-wrap: wrap;
  //     gap: 15px;

  //     .params-detail {
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //       gap: 5px;

  //       .params-heading {
  //         margin: 0;
  //       }
  //       n .params-value {
  //         margin: 0;
  //         font-size: 1.5rem;
  //       }
  //     }
  //   }
  // }

  // .work-hour {
  //   background-image: linear-gradient(90deg, #47466d 0%, #47466d 100%);
  // }

  // .check-in {
  //   background-image: linear-gradient(90deg, #355c7d 0%, #355c7d 100%);
  // }

  // .late-hour {
  //   background-image: linear-gradient(90deg, #447b91 0%, #447b91 100%);
  // }

  // .overtime {
  //   background-image: linear-gradient(90deg, #5aa8b6 0%, #5aa8b6 100%);
  // }

  .data-card {
    background-color: #efefef;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .check-in-chart {
    width: 65%;
    height: 22rem;
  }

  .check-in-doughnut {
    width: 25%;
    height: 22rem;
  }

  .doughnut-chart {
    width: 25%;
    height: 22rem;
    margin-bottom: 50px;

    .doughnut-heading {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;

      .doughnut-heading-text {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
      }

      .doughnut-heading-dropdown-container {
        display: flex;
        gap: 10px;

        .doughnut-heading-dropdown {
          margin: 0;
          font-size: 14px;
          border: none;
          outline: none;
          border-radius: 5px;
          padding: 2px;
          background-color: #e7e7e7;
        }
      }
    }
  }

  .bar-chart {
    width: 65%;
    height: 22rem;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }
}
