.home-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    background-color: #ddd;
  
    .main-chart-container,
    .second-chart-container,
    .third-chart {
      background-color: #efefef;
      border-radius: 0.5em;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
      .chart-canvas {
        width: 100%;
        padding: 20px;
        height: 100%;
      }
    }
  
    .main-chart-container {
      margin-top: 50px;
      width: 92%;
      height: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .second-chart-container {
      width: 50%;
      height: 20rem;
      margin-bottom: 50px;
    }
  
    .third-chart {
      width: 40%;
      height: 20rem;
      margin-bottom: 50px;
    }
  }