@use "../../styles/_mixins.scss" as *;

.employee-list-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ececec;

  .searchbar {
    width: 92%;
    margin: 20px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 30px;
  }

  .employee-list-container {
    width: 92%;
    height: auto;
    margin: 20px;
    background-color: #ececec;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
